/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    text-decoration-style: wavy;
    position: absolute;
    bottom: 0;
    width: auto;
    white-space: nowrap;
    line-height: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    justify-content: center;
}

a:visited {
    color: black;
}

/*.footer-baner {
    margin-bottom: -6px;
    margin-top: -2px;
    padding-top: -15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: #F5FFFA;
}*/

.container-whole-body {
    margin-top: -10px;
    margin-bottom: -9px;
    background-color: #3574F2;
}

.footer-reg-log-layout {
    background-color: #F5FFFA;
}

.register-label {
    font-size: 16px;
    font-weight: bold;
    border-top: none;
}

.footer-baner{
    text-align: center;
}


.footer-baner-h6 {
    display: inline-block;
}


