@model SelfHostedPasswordManager.Models.Credential

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/password-handler.js"></script>


<div class="modal fade" id="edit-credential" tabindex="-1" role="dialog" aria-labelledby="editCredentialLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCredentialLabel">Edit credential</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            <form asp-action="Edit" method="POST" data-ajax="true" data-ajax-update="result" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" id="website-input"class="form-control"/>
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username"  class="control-label"></label>
                    <input asp-for="Username" id="username-input" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group" >
                    <label asp-for="Password" class="control-label"></label>
                    @*<input asp-for="Password" class="form-control" id="password password-input" type="password" value="@Model.Password" />*@
                    <input asp-for="Password" class="form-control" value="@Model.Password" type="password" id="password" />
                    <input type="button" id="show-password" value="Show password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" id="notes-input" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                    @*komunikaty*@
                <div id="valid-info" style="display: none; margin: 20px 0px;">
                    <span class="text-success">Record saved succesfully!</span>
                </div>
                    <div id="not-valid-info" style="display: none; margin: 20px 0px;" class="text-danger">
                    Something went wrong. Check entered data. Password should contain at least 12 characters, including at least 1 uppercase and lowercase letters, special characters and numbers.
                </div>
                <div class="form-group">
                        @*Zmiana z inputa na button by nie przeładowywać strony*@
                    <button id="save-input" class="btn btn-primary" data-save="modal">Save</button>
                    <button type="button" id="save-button" class="btn btn-secondary" data-save="modal" data-dismiss="modal">Close</button>
                </div>
            </form>

            </div>
       </div>
    </div>
</div>

@section Scripts {
    @{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" 
                integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>   
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script src="js/password-handler.js"></script>
}
