
@{
    ViewData["Title"] = "Export";
    Layout = null;
}

<script src="js/password-handler.js"></script>
<script src="https://kit.fontawesome.com/1d2a352fc4.js" crossorigin="anonymous"></script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<div class="modal fade" id="export-credential" tabindex="-1" role="dialog" aria-labelledby="exportCredentialLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportCredentialLabel">Export credentials</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Export">
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input name="Password" class="form-control" type="password" id="password" />
                        <input type="button" id="show-password" value="Show password" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}