@{
    ViewData["Title"] = "Import";
    Layout = null;
}

<script src="js/password-handler.js"></script>
<script src="https://kit.fontawesome.com/1d2a352fc4.js" crossorigin="anonymous"></script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<div class="modal fade" id="import-credential" tabindex="-1" role="dialog" aria-labelledby="importCredentialLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importCredentialLabel">Import credentials</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Select file to import:</label>
                        <input type="file" id="credentialsFile" name="CredentialsFile" class="form-control-file" accept=".csv" required>
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}